#title
{
	color: silver;
	font-size: 60px;

}

body
{
	background-color: darkred;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}

.main-nav li a 
{
	color: silver;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roberto", sans-serif;
	font-size: 15px;
}
.main-nav li.active a
{
	border: 1px solid black;
}

.main-nav li a:hover
{
	border: 1px solid white;
}
.Layout
{
	color: silver;
	font-size: 40px;
	font-weight: bold;
}

.img
{
	display: block;
	margin-left: 340px;
	margin-top: -100px;
	height: 500px;
	width: 1000px;
}

#node1, #node2, #node3, #node4, #node5, #node6, #node7, #node8, #node9, #node11, #node12, #node13, #node14, #node15, #node16, #node17, #node18, #node19, #node20
{
	width: 20px;
	height: 20px;
	position: absolute;
	background: red;
}

